<div class="main" ng-init="initialize()">
  <div class="center-align">
    <h2> JSON-to-UML Converter</h2>
  </div>
  <div class="testData" id="testData">
    <p id="testDataParam"  ng-click="selectAll(testDataParam)">
      {
        _umlClassName: 'TestClass',
        string: "Hi",
        number: 3,
        _umlMethod: {
          name: 'increment',
          returnValue: 'string',
          params: [
            {
              name: 'num',
              type: 'string'
            }
          ]
        },
        testObject: {
           _umlClassName: 'Thing',
           test: 1
        },
        testArray: [
          {
            _umlClassName: 'Hello',
            string: 'test'
          },
          'string'
        ],
        testArray2: [
          {
            _umlClassName: 'Hello',
            string: 'test'
          }
        ]
      }
    </p>
    <p class="testData_header">Test-JSON</p>
  </div>
  <div class="row">
    <!-- JSON -->
    <div class="col-md-6 col-sm-6 col-xs-12 input-field">
      <form novalidate name="jsonForm" id="jsonForm" ng-submit="jsonToUML(jsonObject)">
        <div class="input-field">
          <label for="textareaJSON">JSON-Object</label>
          <textarea id="textareaJSON" name="jsonObject"
          class="materialize-textarea" ng-model="jsonObject" required ng-disabled="processing"></textarea>
        </div>
        <div class="err-message" ng-show="!jsonValid"><p style="margin: 5px 0 10px 0">JSON ist nicht valide!</p></div>
        <a class="waves-effect waves-light btn" ng-disabled="processing"
          id="convertBtn" ng-click="jsonToUML(jsonObject)">Convert</a>

        <div class="preloader-wrapper small active" ng-show="processing">
         <div class="spinner-layer spinner-green-only">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>
       </div>

      </form>
    </div>
    <!-- UML -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="input-field" id="umlField">
        <label for="textareaUML">UML-JSON-Object</label>
        <textarea id="textareaUML" class="materialize-textarea" ng-model="umlJsonString" ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="spacer40"></div>
  </div>
  <div class="center-align">
    <h4>UML-Diagramm</h4>
    <uml-class model="umlJsonObject" ng-if="umlJsonObject"></uml-class>
  </div>
  <div class="spacer40"></div>
</div>
